Repository next-friday/nfd-core-engineering-guideline: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx markdownlint --fix, npx sort-package-json

chore(github): add CODEOWNERS file
  .github/CODEOWNERS
Due: none

chore(deps): add changeset CLI
  package.json
  pnpm-lock.yaml
Due: npx prettier --write, npx sort-package-json

chore(deps): add changelog-github
  package.json
  pnpm-lock.yaml
Due: npx prettier --write, npx sort-package-json

chore(changesets): add configuration for changeset management
  .changeset/config.json
Due: npx prettier --write

docs(changesets): add README for changeset management
  .changeset/README.md
Due: npx prettier --write, npx markdownlint --fix

chore(github): add GitHub Actions workflow
  .github/workflows/release.yml
Due: npx prettier --write

docs(claude): add release management commands
  .claude/CLAUDE.md
Due: npx prettier --write, npx markdownlint --fix

chore(issue-template): disable blank issues
  .github/ISSUE_TEMPLATE/config.yml
Due: npx prettier --write

chore(issue-template): update discussion links
  .github/ISSUE_TEMPLATE/config.yml
Due: npx prettier --write

fix(issue-template): require prior investigation in bug report
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: npx prettier --write

chore(issue-template): enhance issue template with emoji labels
  .github/ISSUE_TEMPLATE/config.yml
Due: npx prettier --write

chore(github): add push trigger to quality workflow
  .github/workflows/quality.yml
Due: npx prettier --write

chore(github): streamline quality workflow
  .github/workflows/quality.yml
Due: npx prettier --write

docs(readme): remove emojis from document
  README.md
Due: npx prettier --write, npx markdownlint --fix

docs(claude): remove global-readiness guideline
  .claude/CLAUDE.md
Due: npx prettier --write, npx markdownlint --fix

docs(readme): remove global-readiness guideline
  README.md
Due: npx prettier --write, npx markdownlint --fix

Path conditions:
  npx prettier --write: (any of: *.{json,yml,yaml}) or (any of: *.md)
  npx markdownlint --fix: any of: *.md
  npx sort-package-json: any of: **/package.json
